.Navbar {
    background: #012828;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    justify-content: flex-start;
    gap: 38vw;
}

.Navbar img{
    background-color: white;
    border-radius: 5px;
}